{# {% if menu %}

<ul class="flex space-x-12">
	{% for item in items %}
	<li class="{{ item.classes | join(' ') }}">
		<a target="{{ item.target }}" href="{{ item.link }}"
			class="text-white uppercase text-xs tracking-wider hover:underline transition duration-300 ease-in-out">{{
			item.title }} </a>
		{% include "menu.twig" with {items: item.children} %}
	</li>
	{% endfor %}
</ul>

{% endif %} #}
{{ function('wp_nav_menu', '&theme_location=main_menu') }}
