{% extends "base.twig" %}

{% block content %}
{% include "partial/wa_button.twig" with {'number': options.group_wa} %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="page-section ">
				<div class="section-wrapper">

					<div>
						<div id="breadcrumbs" class="text-sm py-5">
							<a href="{{homelang}}" class="hover:underline">Eazy Group</a>
							>
							{% if curlang == 'en' %}
								<a href="{{site.link}}/news" class="underline">{{pll_e('News and Insights')}}</a>
							{% else %}
								<a href="{{site.link}}/it/news-it" class="underline">{{pll_e('News and Insights')}}</a>
							{% endif %}
						</div>
						<h2 class="text-h2 text-eazy-blue">{{pll_e('News and Insights')}}</h2>
					</div>

					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16 pt-10">
						{% for post in posts %}
							{% include ['tease-'~post.post_type~'.twig',
                    'tease.twig'] %}
						{% endfor %}
					</div>
				</div>
			</section>


			{{ function('wp_footer') }}
		</article>
	</div>
	<!-- /content-wrapper -->
{% endblock %}
