{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% include "partial/wa_button.twig" with {'number': options.bunker_wa} %}

			{# hero #}
			<section class="hero ">
				{% include "partial/hero.twig" with {'post': post} %}
			</section>
			<!-- about -->
			<section class="bg-white py-16 md:py-24 text-eazy-dark">
				<div class="max-w-screen-xl md:flex md:space-x-20 inside">
					<div class="md:w-1/2">
						<h5 class="text-xs md:text-sm uppercase tracking-widest pb-3">{{ pll_e('about') }}</h5>
						<p class="text-h2 text-eazy-blue">{{post.meta('about')}}
						</p>
						<img src={{ Image(post.meta('about_image')).src }} alt="" class="h-auto w-full px-20 my-20">
					</div>
					<div class="md:w-1/2 pt-4 md:pt-8">
						<p class="">
							{{post.meta('abstract')}}
						</p>
						<div class="pt-5 ">
							{% for point in post.meta('touchpoints') %}

								<div class="border-b" x-data="{
																																				                            open: false,
																																				                            toggle() {
																																				                              if (this.open) {return this.close()}
																																				                              this.open = true
																																				                            },
																																				                            close(focusAfter) {
																																				                              if (! this.open) return
																																				                              this.open = false
																																				                              focusAfter && focusAfter.focus()
																																				                            }
																																				                          }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.content.contains($event.target) " x-id="['dropdown-button']">
									<button type="button" class="flex justify-between items-center py-4 px-0 w-full text-left" x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')" aria-expanded="true" aria-controls="dropdown-button-1">
										<p class="uppercase text-eazy-blue">{{point.title}}</p>
										<div>
											<span x-show="open" aria-hidden="true" class="">&minus;</span>
											<span x-show="!open" aria-hidden="true" class="">&plus;</span>
										</div>
									</button>
									<div x-ref="content" x-show="open" x-collapse.duration.600ms id="dropdown-button-1">
										<div class="py-4 font-light text-eazy-dark border-b border-eazy-blue">
											{{point.content}}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>

					</div>
				</div>
			</section>
			<!-- WWD -->
			<section class="bg-eazy-cream py-16 md:py-32 text-eazy-dark">

				<div class="max-w-screen-xl inside w-3/4">
					<h5 class="text-xs md:text-sm uppercase tracking-widest pb-3">{{ pll_e('What we do') }}</h5>
					<div class="wysiwyg text-eazy-blue">

						{{post.meta('what_we_do')}}
					</div>
				</div>
			</section>
			<!-- Services -->
			<section class="bg-white py-16 md:py-32 text-eazy-dark">
				<div>
					<div class="max-w-screen-xl md:flex md:space-x-16 inside">
						<div class="md:w-1/2">
							<h5 class="text-xs md:text-sm uppercase tracking-widest pb-3">{{ pll_e('Services') }}</h5>
							<p class="text-h2 text-eazy-blue">{{post.meta('services_abstract')}}
							</p>

						</div>
						<div class="md:w-1/2 pt-4 md:pt-8">
							<p class="">
								{{post.meta('services_text')}}
							</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Primary and secondary -->
			<section class="bg-white pb-16 md:pb-32 text-eazy-dark">
				<div class="max-w-screen-xl md:flex md:space-x-16 inside">
					<div class="md:w-1/2">
						<h5 class="text-xs md:text-sm uppercase tracking-widest pb-3">{{ pll_e('Primary Services') }}</h5>
						<div class="pt-5 ">
							{% for ps in post.meta('primary_services') %}

								<div class="" x-data="{
																																				                            open: false,
																																				                            toggle() {
																																				                              if (this.open) {return this.close()}
																																				                              this.open = true
																																				                            },
																																				                            close(focusAfter) {
																																				                              if (! this.open) return
																																				                              this.open = false
																																				                              focusAfter && focusAfter.focus()
																																				                            }
																																				                          }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.ps.contains($event.target) " x-id="['dropdown-button']">
									<div class="flex justify-between items-center py-4">

										<img src={{ Image(ps.icon).src }} class="h-20" alt="">
										<button type="button" class="flex justify-between items-center py-4 ml-5 w-full text-left border-b" x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')" aria-expanded="true" aria-controls="dropdown-button-1">
											<p class="uppercase text-eazy-blue">{{ps.service_name}}</p>
											<div>
												<span x-show="open" aria-hidden="true" class="">&minus;</span>
												<span x-show="!open" aria-hidden="true" class="">&plus;</span>
											</div>
										</button>
									</div>
									<div x-ref="ps" x-show="open" x-collapse.duration.600ms id="dropdown-button-1">
										<div class="ml-24 py-4 font-light text-eazy-dark border-b border-eazy-blue">

											{{ps.content}}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="md:w-1/2">
						<h5 class="text-xs md:text-sm uppercase tracking-widest pb-3">{{ pll_e('Secondary Services') }}</h5>
						<div class="pt-5 ">
							{% for ss in post.meta('secondary_services') %}

								<div class="" x-data="{
																																				                            open: false,
																																				                            toggle() {
																																				                              if (this.open) {return this.close()}
																																				                              this.open = true
																																				                            },
																																				                            close(focusAfter) {
																																				                              if (! this.open) return
																																				                              this.open = false
																																				                              focusAfter && focusAfter.focus()
																																				                            }
																																				                          }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.ss.contains($event.target) " x-id="['dropdown-button']">
									<div class="flex justify-between items-center py-4">

										<img src={{ Image(ss.icon).src }} class="h-20" alt="">
										<button type="button" class="flex justify-between items-center py-4 ml-5 w-full text-left border-b" x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')" aria-expanded="true" aria-controls="dropdown-button-1">
											<p class="uppercase text-eazy-blue">{{ss.service_name}}</p>
											<div>
												<span x-show="open" aria-hidden="true" class="">&minus;</span>
												<span x-show="!open" aria-hidden="true" class="">&plus;</span>
											</div>
										</button>
									</div>
									<div x-ref="ss" x-show="open" x-collapse.duration.600ms id="dropdown-button-1">
										<div class="ml-24 py-4 font-light text-eazy-dark border-b border-eazy-dark">

											{{ss.content}}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>

			{# Market #}
			<section class="bg-eazy-cream text-eazy-dark py-16 md:py-32">
				<div class="inside max-w-screen-xl">
					<div class=" md:flex md:space-x-16 pb-8 ">
						<div class="md:w-1/2">
							<h5 class="text-xs md:text-sm uppercase tracking-widest pb-3">{{ pll_e('Market Movement') }}</h5>
							<p class="text-h2 text-eazy-blue">{{post.meta('market_abstract')}}
							</p>
						</div>
						<div class="md:w-1/2 pt-4 md:pt-8">
							<p class="">
								{{post.meta('market_text')}}
							</p>
						</div>
					</div>
					<div id="WTI">
						<p class="text-h2 pb-8 text-eazy-blue">WTI Crude Oil</p>
						<!-- TradingView Widget BEGIN -->
						<div class="tradingview-widget-container aspect-square md:aspect-video bg-eazy-blue w-full">
							<div id="tradingview_2e601" class="h-full"></div>

							<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
							<script type="text/javascript">
								new TradingView.widget({
"autosize": true,
"symbol": "TVC:USOIL",
"interval": "D",
"timezone": "Etc/UTC",
"theme": "dark",
"style": "1",
"locale": "it",
"toolbar_bg": "#f1f3f6",
"enable_publishing": false,
"allow_symbol_change": true,
"container_id": "tradingview_2e601"
});
							</script>
						</div>
						<!-- TradingView Widget END -->
						<!-- <div class="aspect-video bg-eazy-blue w-full"> -->

					</div>
					<div id="BRENT" class="pt-10">
						<p class="text-h2 pb-8 text-eazy-blue">BRENT Crude Oil</p>
						<!-- TradingView Widget BEGIN -->
						<div class="tradingview-widget-container aspect-square md:aspect-video bg-eazy-blue w-full">
							<div id="tradingview_2e601" class="h-full">

								<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
								<script type="text/javascript">
									new TradingView.widget({
"autosize": true,
"symbol": "BLACKBULL:BRENT",
"interval": "D",
"timezone": "Etc/UTC",
"theme": "dark",
"style": "1",
"locale": "it",
"toolbar_bg": "#f1f3f6",
"enable_publishing": false,
"allow_symbol_change": true,
"container_id": "tradingview_5cdf8"
});
								</script>
							</div>
							<!-- TradingView Widget END -->
						</div>
					</div>
				</div>
			</section>

			{# Keep in Touch #}
			{% include "partial/keep-in-touch.twig" with {'post': post} %}


			{{ function('wp_footer') }}
		</article>
	</div>
	<!-- /content-wrapper -->
{% endblock %}
