{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% include "partial/wa_button.twig" with {'number': options.green_wa} %}

			{# hero #}
			<section class="hero ">
				{% include "partial/hero.twig" with {'post': post} %}
			</section>
			<!-- about -->
			<section class="bg-white page-section">
				{% include "partial/about.twig" with {'post': post} %}
			</section>
			<!-- Shop -->
			<section class="bg-eazy-cream  page-section">

				<div class="section-wrapper">
					<div class="flex justify-between items-center pb-4">
						<h5 class="text-sm uppercase tracking-widest">{{pll_e(type)}}
							{{ pll_e('Eazy Green Shop') }}</h5>
						<a href="{{site.link}}/shop" class="text-sm hover:underline">{{ pll_e('All Products') }}
							></a>
					</div>

					{# ! Shop in ex-page-green-with-shop.twig #}
					<div class="md:w-2/3 space-y-4">
						<h2 class="text-h2 text-eazy-pink">{{post.meta('shop_headline')}}</h2>
						<p class="text-black text-base wysiwyg">{{post.meta('shop_text')}}</p>
					</div>

					<div class="grid sm:grid-cols-2 md:grid-cols-5 md:grid-rows-2 place-content-between gap-5 pt-8">
						<div class="aspect-auto md:row-span-2 sm:col-span-2 ">

							<img src="{{Image(post.meta('shop_image')).src | resize(750)}}" class="h-full w-full object-cover" alt="">
						</div>
						{% for post in prodotti %}
							{% include ['tease-'~post.post_type~'-small.twig','tease.twig'] %}
						{% endfor %}

					</div>
					<div class="md:w-2/3 space-y-4 pt-8">
						<h2 class="text-h2 text-eazy-pink pt-4">{{post.meta('shop_headline_2')}}</h2>
						<p class="text-black text-base wysiwyg">{{post.meta('shop_text_2')}}</p>
					</div>

				</div>
			</section>

			<section class="bg-eazy-cream inside {{ text_black ? 'text-black' : 'text-white' }}  py-32 md:py-56 h-full bg-center bg-cover" style="background-image:url('{{ Image(post.meta('kit_shop_image')).src }}');">
				<div class="section-wrapper md:flex md:space-x-16 ">
					<div class="md:w-1/2">
						<h5 class="text-xs md:text-sm uppercase tracking-widest pb-3">
							{{ pll_e('Keep in touch') }}
						</h5>
						<p class="text-h2 pb-16">{{post.meta('kit_shop_text')}}
						</p>
						<a class="text-h2 underline" href="mailto:{{post.meta('kit_mail')}}">{{post.meta('kit_mail')}}</a>
					</div>
				</div>
			</section>


			<!-- Services -->
			<section class="bg-white page-section">
				<div class="section-wrapper">
					<h5 class="text-h5 pb-3">Eazy Green Collaboration</h5>
					<p class="text-h2 text-eazy-blue pb-6">{{post.meta('collab_h2')}}
					</p>

					<p class="md:w-2/3">
						{{post.meta('collab_text')}}
					</p>
				</div>
			</section>

			{# Collaborations #}
			<section class="bg-eazy-cream page-section">
				<div class="section-wrapper">
					<h5 class="text-h5 pb-12">{{ pll_e('Let’s discover our collaborations') }}</h5>
					{% set i = 0 %}
					{% for item in post.meta('collaborations') %}
						<a href="mailto:info@eazygreen.net" class="block w-full md:flex group my-6 md:mb-12">
							<div class="aspect-[4/3] bg-eazy-blue md:w-1/2 overflow-hidden {{  i % 2  == 0 ? 'md:order-1' : 'md:order-2' }}">
								<img src={{ Image(item.image).src }} class="object-cover h-full" alt=""/>
							</div>
							<div class="md:w-1/2 bg-white px-6 md:px-12 py-12 md:py-24 flex flex-col justify-between {{  i % 2  == 0 ? 'md:order-2' : 'md:order-1' }}">
								<div class="transform group-hover:-translate-y-5  duration-300 ease-in-out mb-3">
									<h6 class="text-h5 pb-3">{{item.name}}</h6>
									<p class="text-lg md:text-xl lg:text-3xl text-eazy-blue">{{item.abstract}}</p>
								</div>
								<div>
									<p class="text-h5 underline">{{ pll_e('Contact us') }}</p>
								</div>
							</div>

							{% set i = i + 1 %}
						</a>
					{% endfor %}
				</div>
			</section>

			{# Green Goals #}
			<section class="page-section">
				<div class="section-wrapper">
					<h5 class="text-h5 pb-3">Eazy Green Goals</h5>
					<p class="text-h2 text-eazy-blue pb-6">{{post.meta('green_goals_abstract')}}</p>
					<p class="md:w-2/3">
						{{post.meta('green_goals_text')}}
					</p>
					<div class="flex mx-auto max-w-2xl justify-between pt-16">


						{% for icon in post.meta('green_goals_icons') %}

							<figure class="align-middle space-y-8 w-1/3 md:px-4">
								<img src={{ Image(icon.icon).src }} class="aspect-square w-full mx-auto" alt=""/>
								<figcaption class="text-center text-xs md:text-lg">{{icon.text}}</figcaption>
							</figure>


						{% endfor %}
					</div>
				</div>
			</section>


			{# Keep in Touch #}
			{% include "partial/keep-in-touch.twig" with {'post': post} %}


			{{ function('wp_footer') }}
		</article>
	</div>
	<!-- /content-wrapper -->
{% endblock %}
