{% extends "base.twig" %}

{% block content %}
{% include "partial/wa_button.twig" with {'number': options.green_wa} %}
<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <section class="page-section">
        <div class="section-wrapper">

            <div class="pb-16">
                <div class="text-sm py-5">
                    {% if curlang == 'en' %}
                    <a href="{{site.link}}/eazy-green" class="hover:underline">Eazy Green</a>
                    >
                    <a href="{{site.link}}/shop" class="underline">Eazy Green Shop</a>
                    {% else %}
                    <a href="{{site.link}}/it/green-it" class="hover:underline">Eazy Green</a>
                    >
                    <a href="{{site.link}}/it/shop-it" class="underline">Eazy Green Shop</a>
                    {% endif %}
                </div>


                <div class="md:w-2/3 space-y-4">
                    <h2 class="text-h2 text-eazy-pink">{{post.meta('headline')}}</h2>
                    <p class="text-black text-base">{{post.meta('shop_text')}}</p>
                </div>

            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16">
                {% for post in prodotti %}
                {% include ['tease-'~post.post_type~'-small.twig',
                'tease.twig'] %}
                {% endfor %}
            </div>
    </section>

    {% include "partial/keep-in-touch.twig" with {'post': post} %}

    </div>

    {{ function('wp_footer') }}
</article>
<!-- /content-wrapper -->
{% endblock %}