{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <img src="{{ post.thumbnail.src }}" class="w-full h-96 object-cover">
        <section class="article-content py-16 md:py-32">
            <div class="max-w-screen-xl w-full md:flex  inside">
                <div class="md:w-1/2 md:sticky top-32 pr-16 pb-10 md:pb-0">
                    <div class="text-sm">
                        <a href="{{site.link}}" class="hover:underline">Eazy Group</a> >
                        <a href="{{site.link}}/news" class="hover:underline">News and Insight</a> >
                        <a href="#" class="underline">{{post.title}}</a>
                    </div>

                    <p class="text-3xl text-eazy-blue pt-5">
                        {% if post.meta('titolo_full') %}
                        {{post.meta('titolo_full')}}
                        {% else %}
                        {{post.title}}
                        {% endif %}
                    </p>
                    <p class="blog-author pt-10">
                        {% for term in post.terms('category') %}
                        <span>{{ term.name }}</span> &ndash;
                        {% endfor %}
                        <!-- <span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&ndash;</span> -->
                        <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
                    </p>
                </div>
                <div class="article-body wysiwyg space-y-4 md:w-1/2 ">
                    {{post.meta('text')}}
                </div>
            </div>

        </section>
        <section class="pb-16 flex place-content-end inside">

            <div class="article-body space-y-4 w-full md:w-1/2 ">
                {% for image in post.meta('gallery') %}
                <img src="{{ Image(image) | resize(500) }}" class="w-full" />
                {% endfor %}
            </div>
        </section>
        {% block news_list %}
        {% include 'partial/news-list.twig' with {'type':'other'} %}
        {% endblock %}
    </article>
</div><!-- /content-wrapper -->
{% endblock %}